PORT=3000
CORS_ORIGIN=http://localhost:5173

SQLITE_DB_PATH=./data/db.sqlite

OIDC_ISSUER=example-issuer
OIDC_OPENID_CONFIG=example-openid-config
OIDC_JWKS_URI=example-jwks-uri

API_AUDIENCE=api-client

REQUIRE_AUTH=false
ENFORCE_OWNERSHIP=false

NODE_ENV=development